<div class="row">
  <div class="col-lg-4" style="text-align: left;">
    <h2>
      <%= title %>
    </h2>
    <p>
      <%= description %>
    </p>
  </div>
  <div class="col-lg-8">
    <br />
    <%= image_tag img, class: 'pull-right', style: 'width:100%;margin-bottom:10px;' %>
    <br />
  </div>
</div>
