<div class="container-fluid">
  <h1>Academic Honors</h1>
  <ul>
    <li>
      Oak Ridge High School Class of 2015 Valedictorian
      <ul>
        <li>
          Class size of 600, had the highest GPA at 4.45
        </li>
      </ul>
    </li>
    <li>
      UC Berkeley Dean's Honors List Fall 2015, Spring 2016
      <ul>
        <li>
          GPA in the top 10% of all engineering undergraduates at 3.9 for Fall and 3.925 for Spring
        </li>
      </ul>
    </li>
  </ul>
  <h1>Robotics</h1>
  <ul>
    <li>
      M-Cubed (FLL)
      <ul>
        <li>
          Northern California State Champion's Award
          <ul>
            <li>
              1st place out of over 400 teams
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
