<script>
  var active = function() {
    $(".projects_link").addClass('active');
  };
  active()
</script>

<div class="container-fluid">
  <br />
  <p>Code for these projects can be found on my <%= link_to 'GitHub', 'http://www.github.com/rpandya922?tab=repositories' %>!</p>
  <h1>Doximity</h1>
  <%= render 'shared/project', title: 'Doc Jobs', description: $doc_jobs_description, img: 'doc-jobs.png' %>
  <%= render 'shared/project', title: 'Job Intel', description: $job_intel_description, img: 'job-intel.png' %>
</div>