<script>
  var active = function() {
    $(".projects_link").addClass('active');
  };
  active()
</script>
<% maps_description = '<p>The maps project was a visualization of restaurant ratings in and around
Berkeley and the <a href="https://www.yelp.com/dataset_challenge">Yelp Academic Dataset</a></p>'.html_safe %>
<div class="container-fluid">
  <h1>CS61A</h1>
  <%= render 'shared/project', title: 'Maps', description: maps_description, img: 'project-maps.png' %>
</div>