<script>
  var active = function() {
    $(".projects_link").addClass('active');
  };
  active()
</script>

<div class="container-fluid">
  <br />
  <p>Code for my projects is on my <%= link_to 'GitHub', 'http://www.github.com/rpandya922' %>!</p>
  <h1>CS61A</h1>
  <%= render 'shared/project', title: 'Maps', description: $maps_description, img: 'project-maps.png' %>
  <%= render 'shared/project', title: 'Scheme Interpreter', description: $scheme_description, img: 'project-scheme.png' %>
</div>