<script>
  var active = function() {
    $(".about_link").addClass('active');
  };
  active()
</script>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
  <br />
  <%= image_tag 'picture_me.jpg', style: 'width: 100%;' %>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
  <br />
  <p>My name is Ravi Pandya. I'm a sophomore at UC Berkeley studying Electrical Engineering and Computer Science.</p>
  <p>I work mostly with software right now, but I'm looking forward to learning about signal processing and much more
  regarding electronics!</p>
  <p>My past experience includes interning at Infosil, Inc. and Doximity.</p>
  <p>At <%= link_to 'Doximity', 'http://www.doximity.com' %>, I worked extensively with web scraping and Ruby on Rails.
  I designed and automated web scrapers that would store data in a MySQL database. I then made a web application from scratch
    for viewing and searching the data using Ruby on Rails.</p>
  <p>At <%= link_to 'Infosil', 'http://www.infosil.com' %>, I worked as an app designer for muliple Android and iOS apps with over 200,000 total downloads!
  </p>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>